<%= hidden_field_tag :report_id, value: report.id %>

<td class='text-center'><%= report.company_name %></td>
<td class='text-center'><%= report.country %></td>
<td class='text-center'><%= number_to_currency report.price %></td>
<td class='text-center'><%= report.reported_at %></td>
<td class='text-center'><%= report.financial_year.try(:year) %></td>
<td class='text-center'><%= report.region_number %></td>
<td class='text-center'>
  <%= link_to 'Delete', order_item, { data: { confirm: 'Are you sure you wish to delete the report from your cart?' }, method: :delete, remote: true, class: 'btn btn-system' } %>
</td>
