<!-- Start Services Section -->
<div class="section service">
  <div class="container">
    <div class="row">

      <!-- Start Service Icon 1 -->
      <%= link_to '/business_information' do  %>
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
          <div class="service-icon">
            <i class="fa fa-briefcase icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Business Information</h4>
            <p>Offering attractive credit terms may increase your competitiveness but it will also expose you to higher credit risks</p>
          </div>
        </div>
      <% end %>
      <!-- End Service Icon 1 -->

      <!-- Start Service Icon 2 -->
      <%= link_to '/company_screening' do  %>
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
          <div class="service-icon">
            <i class="fa fa-camera-retro icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Your Company Screening</h4>
            <p>AssessBR caters to the needs of several National and International Banks, Credit Insurers, Factoring Companies</p>
          </div>
        </div>
      <% end %>
      <!-- End Service Icon 2 -->

      <!-- Start Service Icon 3 -->
      <%= link_to '/company_research' do  %>
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="03">
          <div class="service-icon">
            <i class="fa fa-search-plus icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Company Research</h4>
            <p>AssessBR caters to the needs of several National and International Banks, Credit Insurers, Factoring Companies</p>
          </div>
        </div>
      <% end %>
      <!-- End Service Icon 3 -->

      <!-- Start Service Icon 4 -->
      <%= link_to '/background_check' do  %>
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="04">
          <div class="service-icon">
            <i class="fa fa-cogs icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Background Check</h4>
            <p>AssessBR launches Pakistan's first customized research and information search services</p>
          </div>
        </div>
      <% end %>
      <!-- End Service Icon 4 -->

      <!-- Start Service Icon 5 -->
      <%= link_to '/company_monitoring' do  %>
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="05">
          <div class="service-icon">
            <i class="fa fa-hourglass-start icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Company Monitoring</h4>
            <p>AssessBR caters to the needs of several National and International </p>
          </div>
        </div>
      <% end %>
      <!-- End Service Icon 5 -->

      <!-- Start Service Icon 6 -->
      <%= link_to 'market_overview' do  %>
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="06">
          <div class="service-icon">
            <i class="fa fa-external-link-square icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Market Overview</h4>
            <p>These summary reports profile the important criteria of a market so as to inform further marketing activity</p>
          </div>
        </div>
      <% end %>
      <!-- End Service Icon 6 -->

      <!-- Start Service Icon 7 -->
      <%= link_to '/due_diligence_report' do  %>
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="07">
          <div class="service-icon">
            <i class="fa fa-code-fork icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Due Diligence Report</h4>
            <p>The need for extensive due diligence is more than ever necessary in today's globalised and crisis stricken economies.</p>
          </div>
        </div>
      <% end %>
      <!-- End Service Icon 7 -->

      <!-- Start Service Icon 8 -->
      <%= link_to '/vendor_assesment_report' do  %>
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="08">
          <div class="service-icon">
            <i class="fa fa-bullseye icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Vendor Assesment Report</h4>
            <p>The Supplier Assessment Report helps you monitor your key suppliers on a regular basis. This is reasonable and sound housekeeping</p>
          </div>
        </div>
      <% end %>
      <!-- End Service Icon 8 -->

      <!-- Start Service Icon 9 -->
      <%= link_to '/industry_research_report' do  %>
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="08">
          <div class="service-icon">
            <i class="fa fa-industry icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Industry Research Report</h4>
            <p>AssessBR caters to the needs of several National and International Banks, Credit Insurers, Factoring Companies</p>
          </div>
        </div>
      <% end %>
      <!-- End Service Icon 9 -->

      <!-- Start Service Icon 10 -->
      <%= link_to '/assessbr_intelligence' do  %>
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="08">
          <div class="service-icon">
            <i class="fa fa-info icon-large"></i>
          </div>
          <div class="service-content">
            <h4>AssessBR Intelligence</h4>
            <p>AssessBR caters to the needs of several National and International Banks, Credit Insurers, Factoring Companies</p>
          </div>
        </div>
      <% end %>
      <!-- End Service Icon 10 -->

    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- End Services Section -->
