<div class="row">
  <div class="col-xs-8">
    <h4><%= report.company_name %></small></h4>
    <h4><%= report.country %></small></h4>
  </div>
  <div class="col-xs-4">
    <%= form_for order_item, remote: true do |f| %>
    <h4 class="text-right">Price: <span style="color: green"><%= number_to_currency report.price %></span></h4>
      <div class="input-group">
        <div class="input-group-btn">
          <%= f.hidden_field :report_id, value: report.id %>
          <%= f.submit "Add to Cart", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
