<td class='text-center'><%= report.company_name %></td>
<td class='text-center'><%= report.country %></td>
<td class='text-center'><%= number_to_currency report.price %></td>
<td class='text-center'><%= report.reported_at %></td>
<td class='text-center'><%= report.financial_year.try(:year) %></td>
<td class='text-center'><%= report.region_number %></td>
<td class='text-center'>
  <%= form_for order_item, remote: true do |f| %>
    <%= f.hidden_field :report_id, value: report.id %>
    <%= f.submit 'Add to Cart', class: 'btn btn-primary' %>
  <% end %>
</td>
